<div class="container">
  <h1>Simplest Possible AJAX</h1>
  <p>This contrived app will simulate a roll of a 6-sided die.</p>

  <form method="post" action="/rolls">
    <input type="submit" value="Roll the Die">
  </form>

  <div id="die">
    <% if @roll %>
      <img src="/<%= @roll.value %>.png" title="<%= @roll.value %>" alt="the roll">
    <% end %>
  </div>

</div>
